{% extends "./base.html.twig" %}

{% block body %}
<a href={{ path('admin_posts_index') }} class='text-blue-600 p-4'> &lt; Back to all posts</a>
<div class="w-4/5 m-auto">
    <h1 class="text-6xl text-center pb-12">
        Edit post
    </h1>
     {% if form_errors(form) %}
    <div class="form-errors bg-red-800 p-8 text-white rounded">
       {{ form_errors(form) }}
    </div>
    {% endif %}

  {{ form_start(form) }}
    {{ form_row(form.title) }}
    <div class="post-image-form-wrapper">
      {% if post.imagePath %}
        <h2>Current image:</h2>
        <img src={{ post.imagePath }} class="w-50 h-10">
      {% endif %}
    {{ form_row(form.imagePath) }}
    {{ form_row(form.imageAltText) }}

    </div>
    {{ form_row(form.content) }}
        

    <div id="tags-container" class="post-form-row-wrapper">
      {{ form_label(form.tags) }}
        <input type="text" id="tag-input" placeholder="Enter a tag" class="'bg-transparent p-8 m8 block border-b-2 w-full h-20 text-6xl outline-none'">
        <button type="button" id="add-tag" class="rounded-full p-4 border-black-2 text-7xl" >+</button>
           
        <div id="tags-list" class="leading-normal">
          <p>Tags:</p>
          
            {% for tag in form.tags %}
                <span class="tag">
                    {{ tag.vars.value }}
                    <button type="button" class="remove-tag">&times;</button>
                    {{ form_widget(tag) }}
                </span>
            {% endfor %}
        </div>
           
      </div>

        {{ form_row(form.user) }}
        {{ form_row(form.published) }}

        <button type="submit" class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Submit Post
        </button>
    <div class="hidden">
      {{ form_rest(form) }}
    </div>
  {{ form_end(form) }}
</div>

{% endblock %}
