{% extends "./base.html.twig" %}

{% block body %}
<a href={{ path('admin_posts_index') }} class='text-blue-600 p-4'> &lt; Back to all posts</a>
<div class="w-4/5 m-auto">
    <h1 class="text-6xl text-center pb-12">
        Edit post
    </h1>
    <div class="form-container py-8">
      {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.imagePath) }}
        {{ form_row(form.content) }}
        
        <div class="form-group">
          {{ form_label(form.tags) }}
              <div id="tags-container">
                  <input type="text" id="tag-input" placeholder="Enter a tag">
                  <button type="button" id="add-tag">Add Tag</button>
                </div>
            <div id="tags-list">
                {% for tag in form.tags %}
                    <span class="tag">
                        {{ tag.vars.value }}
                        <button type="button" class="remove-tag">&times;</button>
                        {{ form_widget(tag) }}
                    </span>
                {% endfor %}
            </div>
            {{ form_errors(form.tags) }}
        </div>

        {{ form_row(form.user) }}
        {{ form_row(form.published) }}

        
            <button    
                type="submit"
                class="uppercase mt-15 bg-blue-600 text-gray-100 text-lg py-4 px-8 rounded-3xl">
                Update
            </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}