{# All #}
{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-7xl font-bold pb-8">
                All Blog Posts
            </h1>

            <span class="font-light text-gray-600 italic">
                Viewing {{ posts|length }} posts
            </span>
        </div>
    </div>
    
    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 border-t-4 border-black ">
        
        {% for post in posts %}
            <div class="text-center pt-8 pb-4">
            {% if post.imagePath %}
                <img
                    src="{{ post.imagePath }}"
                    alt= {{ post.imageAltText }}
                    class="shadow-xl rounded-md"
                />

            {% else %}
                 <img 
                src="{{ asset('build/images/php.31bcfd02.webp') }}"
                alt="An illustration of a stuffed PHP elephant placed on the keyboard of a laptop."
                class="rounded"
                >

            {% endif %}

                <h2 class="text-gray-700 font-bold text-3xl py-2">
                      {{post.title}}
                </h2>

                <span class="text-gray-500">
                    By <span class="italic text-sm text-gray-800">{{post.user.username}} | {{  post.createdAt|date('d-m-yy') }}
                </span>

                {# <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ class.description }}
                </p> #}
                <div class="mt-8">
              
                    <a href="{{ path('post', {'year': post.createdAt|date('Y'), 'slug': post.slug}) }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                        Keep Reading
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}