{# Single #}
{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
         {% if post %}
            {{ post.title }} 
          {% else %}
           Untitled Post
          {% endif %}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    Created by: {{post.user.email}}
                </h2>

                <p class="text-sm text-gray-600">
                    {{ 'now' | date('Y') }} 
                </p>
            </div>
        </div>
        {% if post %}
        <img
            src="{{ post.imagePath }}"
            class="rounded-xl w-full shadow-xl"
            alt="Icon of Code With Dary"
        />

        <div>
            {{post.content|raw}}
        </div>
        {% endif %}
      

        {# {% if app.user and post.userId == app.user.id %}  #}
         
            <a 
                href="/admin/posts/edit/{{ post.id }}"
                class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit post
            </a>

            <a 
                href="admin/posts/delete/{{ post.id }}"
                class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Delete post
            </a>
        {# {% endif %}  #}
    </div>
{% endblock %}