{# Single #}
{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
         {% if post %}
            {{ post.title }} 
          {% else %}
           Untitled Post
          {% endif %}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1 leading-normal">
                <h2 class="font-bold">
                    Written by {{post.user.username}}
                </h2>

                <p class="text-sm text-gray-600">
                    {{ post.createdAt | date('d M Y') }} 
                </p>

                 <p class="text-sm text-gray-600">
                    {% for tag in post.tags %}
                        <span>#{{tag}}</span>
                    {% endfor %}
                </p>

            </div>
        </div>
        {% if post.imagePath is not empty %}
      <img 
          src={{ post.imagePath }}
          alt='{{ post.imageAltText }}'
          class="rounded"   
        >
        {% else %}
        <img 
        src="{{ asset('build/images/php.31bcfd02.webp') }}"
        alt="An illustration of a stuffed PHP elephant placed on the keyboard of a laptop."
        class="rounded"
        >

        {% endif %}
        <div class="post-main-content pt-8">
            {{post.content|raw}}
        </div>
    </div>
{% endblock %}