{# postPreview.html.twig #}
{% macro renderPostPreview(post) %}
{% set previewText = post.content|striptags|slice(0, 250)|join(' ') ~ '...' %}
  <div class="post-preview w-full flex flex-col justify-center border-b-[1px] border-black py-10
  lg:grid lg:grid-cols-2 lg:gap-8    
  ">
    <div class="post-preview-img">
    {% if post.imagePath is not empty %}
      <img 
          src={{ post.imagePath }}
          alt='{{ post.imageAltText }}'
          class="rounded"   
      >
    {% else %}
      <img 
       src="{{ asset('build/images/php.31bcfd02.webp') }}"
       alt="An illustration of a stuffed PHP elephant placed on the keyboard of a laptop."
       class="rounded"
      >

    {% endif %}
    </div>
    <div class="post-preview-text pb-6 flex flex-col">
      <h3 class="text-5xl font-bold mb-4">{{ post.title }}</h3>
      {% if post.tags is not empty %}
        <div class="post-preview-tags-container flex">
          {% for tag in post.tags %}
            <span class="flex mr-4 mb-0"><span class="text-blue-600">#</span><span>{{ tag }}</span></span>
          {% endfor %}
        </div>   
      {% endif %}
        <div class="post-preview-text-container mb-4">
          <p class="mb-4">by {{ post.user.username }} on {{ post.createdAt|date('d M Y')}}</p>
          <div class="leading-normal font-bold mb-4">
              {{ previewText }}
          </div>
        </div>
        <div class="read-more p-4 border-[1px] border-black rounded-full max-w-max">
            <a href={{ path('post', {'year': post.createdAt|date('Y'), 'slug': post.slug}) }}>Read more ></a>
        </div>
    </div>
  </div>
{% endmacro %}