{# Single #}
{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
         {% if teacher %}
            {{ teacher.firstName }} {{ teacher.lastName }}
          {% else %}
           Teacher
          {% endif %}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    Created by: NewTrick
                </h2>

                <p class="text-sm text-gray-600">
                    {{ 'now' | date('Y') }} 
                </p>
            </div>
        </div>
        {% if teacher %}
        <img
            src="{{ teacher.imagePath }}"
            class="rounded-xl w-full shadow-xl"
            alt="Icon of Code With Dary"
        />
        {% endif %}
      

        {# {% if app.user and teacher.userId == app.user.id %} 
         <p>I've switched off a conditional here </p>
            <a 
                href="/teachers/edit/{{ teacher.id }}"
                class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit teacher
            </a>

            <a 
                href="/teachers/delete/{{ teacher.id }}"
                class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Delete Teacher
            </a>
        {% endif %} #}
    </div>
{% endblock %}